/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile h2 {
    color: #26b99a;
    margin: 0;
    font-size: 24px;
}

.profile p {
    margin: 5px 0;
    color: #777;
}

.icon img {
    width: 80px;
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    resize: none;
}

textarea {
    height: 80px;
}

input[readonly], textarea[readonly] {
    background-color: #f4f4f4;
    cursor: not-allowed;
}

.diagnosis {
    margin-top: 10px;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    flex-direction: column;
}

.diagnosis-btn {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.diagnosis-btn:hover {
    background-color: #004d40;
}